.body-background-light {
  background-color: #f3f3f3;
}

.body-background-dark{
  background-color: #1e2226;
}

.body-background-dark h2{
  color: wheat !important;
}

.body-background-dark p{
  color: white !important;
}

#logo{
  cursor: pointer;
}

.w-lg-23{
  width: 23%;
}

.card{
  box-sizing: border-box !important;

}
.card:hover{
  cursor: pointer;
}

/* @media screen and (min-width:1024px) {
  body{
    background-color: red !important;
  }
  
} */