.body-background-light {
  background-color: #f3f3f3;
}

.body-background-dark{
  background-color: #1e2226;
  color: white !important;
}

#logo{
  cursor: pointer;
}

.card:hover{
  cursor: pointer;
}